Repository YAPP-Github/20th-ALL-Rounder-Team-1-iOS, pull requests merged in 2022-07, with the labels that each got.

#67 서버 API 연결 및 카테고리 화면 UI 개선
  .gitignore
  Weekand/.swiftlint.yml
  Weekand/Podfile
  Weekand/Podfile.lock
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand.xcodeproj/xcuserdata/ihoyeong.xcuserdatad/xcschemes/xcschememanagement.plist
  Weekand/Weekand/Domain/Color.swift
  Weekand/Weekand/Domain/Filter.swift
  Weekand/Weekand/Networking/APIService.swift
  Weekand/Weekand/Networking/Network.swift
  Weekand/Weekand/Networking/Query/helloTest.graphql
  Weekand/Weekand/Presentation/Common/Coordinator/CoordinatorType.swift
  Weekand/Weekand/Presentation/Common/View/WTextLabel.swift
  Weekand/Weekand/Presentation/Common/ViewController/BottomSheetViewController.swift
  Weekand/Weekand/Presentation/MainScene/Category/Coordinator/CategoryAddCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/Category/Coordinator/CategoryCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/CategoryEditViewController.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/CategoryListFilterViewController.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/CategoryListViewController.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/ColorSheetViewController.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/SubView/CategoryListHeaderView.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/SubView/ColorsCollectionViewCell.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/SubView/FilterTableViewCell.swift
  Weekand/Weekand/Presentation/MainScene/Category/ViewModel/CategoryAddViewModel.swift
  Weekand/Weekand/Presentation/MainScene/Category/ViewModel/CategoryListFilterViewModel.swift
  Weekand/Weekand/Presentation/MainScene/Category/ViewModel/CategoryListViewModel.swift
  Weekand/Weekand/Presentation/MainScene/Category/ViewModel/ColorSheetViewModel.swift
  Weekand/Weekand/Presentation/SignScene/SignIn/Coordinator/PasswordFindCoordinator.swift
  Weekand/Weekand/Presentation/SignScene/SignIn/Coordinator/SignInCoordinator.swift
  Weekand/Weekand/Presentation/SignScene/SignIn/View/PasswordFindViewController.swift
  Weekand/Weekand/Presentation/SignScene/SignIn/View/SignInViewController.swift
  Weekand/Weekand/Presentation/SignScene/SignIn/ViewModel/PasswordFindViewModel.swift
  Weekand/Weekand/Presentation/SignScene/SignIn/ViewModel/SignInViewModel.swift
  Weekand/Weekand/Presentation/Utils/DesignSystem/ColorSet.swift
  Weekand/Weekand/Resources/Constants.swift
Labels: Refactor, Category, :lipstick: UI

#77 Sign 화면 내 API 연결 및 UI 개선
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand.xcodeproj/xcshareddata/xcschemes/Weekand.xcscheme
  Weekand/Weekand/Application/SceneDelegate.swift
  Weekand/Weekand/Domain/SignInUseCase.swift
  Weekand/Weekand/Domain/SignUpModel.swift
  Weekand/Weekand/Domain/SignUpUseCase.swift
  Weekand/Weekand/Domain/UserDataStorage.swift
  Weekand/Weekand/Networking/APIService.swift
  Weekand/Weekand/Networking/Network.swift
  Weekand/Weekand/Networking/NetworkError.swift
  Weekand/Weekand/Networking/NetworkInterceptorProvider.swift
  Weekand/Weekand/Networking/Query/Login.graphql
  Weekand/Weekand/Networking/Query/SignUp.graphql
  Weekand/Weekand/Networking/Query/checkDuplicateNickname.graphql
  Weekand/Weekand/Networking/Query/helloTest.graphql
  Weekand/Weekand/Networking/Query/issueTempPassword.graphql
  Weekand/Weekand/Networking/Query/sendAuthKey.graphql
  Weekand/Weekand/Networking/Query/vaildAuthKey.graphql
  Weekand/Weekand/Networking/RxApolloClient.swift
  Weekand/Weekand/Networking/TokenAddingInterceptor.swift
  Weekand/Weekand/Presentation/Common/Coordinator/CoordinatorType.swift
  Weekand/Weekand/Presentation/Common/Coordinator/SimplePopupCoordinator.swift
  Weekand/Weekand/Presentation/Common/View/WCheckBox.swift
  Weekand/Weekand/Presentation/Common/View/WToastLabel.swift
  Weekand/Weekand/Presentation/Common/ViewController/BaseViewController.swift
  Weekand/Weekand/Presentation/Common/ViewController/PopupViewController.swift
  Weekand/Weekand/Presentation/Common/ViewController/SimplePopupViewController.swift
  Weekand/Weekand/Presentation/Common/ViewModel/SimplePopupViewModel.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/CategoryDetailViewController.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/Views/DateTimeStackView.swift
  Weekand/Weekand/Presentation/SignScene/SignIn/Coordinator/PasswordFindCoordinator.swift
  Weekand/Weekand/Presentation/SignScene/SignIn/Coordinator/SignInCoordinator.swift
  Weekand/Weekand/Presentation/SignScene/SignIn/View/PasswordFindViewController.swift
  Weekand/Weekand/Presentation/SignScene/SignIn/View/SignInViewController.swift
  Weekand/Weekand/Presentation/SignScene/SignIn/ViewModel/PasswordFindViewModel.swift
  Weekand/Weekand/Presentation/SignScene/SignIn/ViewModel/SignInViewModel.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/Coordinator/SignUpCoordinator.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/View/SignUpAddInfomationViewController.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/View/SignUpTermsViewController.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/View/SignUpViewController.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/View/SubView/BasePaddingLabel.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/View/SubView/InformationCollectionViewCell.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/View/SubView/InformationGroupStackView.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/View/SubView/InputGroupStackView.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/View/Views/InformationCollectionViewCell.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/ViewModel/SignUpAddInformationViewModel.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/ViewModel/SignUpTermsViewModel.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/ViewModel/SignUpViewModel.swift
  Weekand/Weekand/Presentation/SignScene/Welcome/ViewModel/WelcomeViewModel.swift
  Weekand/Weekand/Presentation/Utils/Extensions/FSCalendar+extension.swift
  Weekand/Weekand/Presentation/Utils/Extensions/NSMutableAttributedString+extension.swift
  Weekand/Weekand/Presentation/Utils/Extensions/UIButton+setImageInset.swift
  Weekand/Weekand/Presentation/Utils/Extensions/UIColor+hex.swift
  Weekand/Weekand/Presentation/Utils/Extensions/UIVIewController+extension.swift
  Weekand/Weekand/Resources/Info.plist
Labels: Sign, 🖥 Networking

#76 MainView와 연결되는 BottomSheetView 구현, Emoji 버튼 크기 수정, 접기 버튼 수정
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand/Domain/Emoji.swift
  Weekand/Weekand/Domain/EmojiGiver.swift
  Weekand/Weekand/Domain/UserDataStorage.swift
  Weekand/Weekand/Presentation/MainScene/Common/View/WEmojiView.swift
  Weekand/Weekand/Presentation/MainScene/Main/Coordinator/MainCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/MainViewController.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/Sheet/EmojiSheet/EmojiSheetViewController.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/Sheet/EmojiSheet/EmojiTabViewController.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/Sheet/EmojiSheet/EmojiTableViewController.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/Sheet/EmojiSheetViewController.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/Sheet/MonthlyCalendarSheet.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/Sheet/StickerAddSheet.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/SubView/MainView/MainTableViewCell.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/SubView/Sheet/EmojiTableViewCell.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/SubView/Sheet/StickerCollectionViewCell.swift
  Weekand/Weekand/Presentation/MainScene/Main/ViewModel/Sheet/EmojiSheetViewModel.swift
  Weekand/Weekand/Presentation/MainScene/Main/ViewModel/Sheet/EmojiTableViewModel.swift
  Weekand/Weekand/Presentation/MainScene/Main/ViewModel/Sheet/StickerAddSheetViewModel.swift
  Weekand/Weekand/Resources/Assets.xcassets/emptyImage.imageset/Bounding box.png
  Weekand/Weekand/Resources/Assets.xcassets/emptyImage.imageset/Bounding box@2x.png
  Weekand/Weekand/Resources/Assets.xcassets/emptyImage.imageset/Bounding box@3x.png
  Weekand/Weekand/Resources/Assets.xcassets/emptyImage.imageset/Contents.json
Labels: :lipstick: UI

#81 전반적인 UI 개선 및 폴더 구조 정리
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand/Application/SceneDelegate.swift
  Weekand/Weekand/Data/UserDataStorage.swift
  Weekand/Weekand/Domain/Entities/Category.swift
  Weekand/Weekand/Domain/Entities/Color.swift
  Weekand/Weekand/Domain/Entities/Emoji.swift
  Weekand/Weekand/Domain/Entities/EmojiGiver.swift
  Weekand/Weekand/Domain/Entities/FollwingUser.swift
  Weekand/Weekand/Domain/Entities/ScehduleMain.swift
  Weekand/Weekand/Domain/Entities/SignUpModel.swift
  Weekand/Weekand/Domain/Entities/Sort.swift
  Weekand/Weekand/Domain/Entities/UserSummary.swift
  Weekand/Weekand/Domain/UseCase/Main/CategoryUseCase.swift
  Weekand/Weekand/Domain/UseCase/Sign/SignInUseCase.swift
  Weekand/Weekand/Domain/UseCase/Sign/SignUpUseCase.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/ColorSheetViewController.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/SubView/ColorStackView.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/Views/DropDownStackView.swift
  Weekand/Weekand/Resources/Constants.swift
Labels: :lipstick: UI, :recycle: 리팩토링

#92 fix: UserSummary 모델이 id를 포함하도록 수정
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand/API.swift
  Weekand/Weekand/Domain/Entities/UserSummary.swift
  Weekand/Weekand/Networking/Query/UserSummary.graphql
Labels: :recycle: 리팩토링, 🖥 Networking

#93 사용자 Id 값 넣는 로직 개선
  Weekand/Weekand/Domain/UseCase/Sign/SignInUseCase.swift
  Weekand/Weekand/Presentation/SignScene/SignIn/ViewModel/SignInViewModel.swift
Labels: :bug: 버그, :recycle: 리팩토링

#94 Search Scene 네트워크 연결 방식 개선
  Weekand/Weekand/Presentation/MainScene/Search/View/UserSearchViewController.swift
  Weekand/Weekand/Presentation/MainScene/Search/ViewModel/UserSearchViewModel.swift
Labels: 🖥 Networking

#96 네트워크 재요청 시 발생하는 문제 개선
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand/Domain/ScheduleEditUseCase.swift
  Weekand/Weekand/Domain/UseCase/Main/CategoryUseCase.swift
  Weekand/Weekand/Domain/UseCase/Main/SearchUseCase.swift
  Weekand/Weekand/Domain/UseCase/Sign/SignInUseCase.swift
  Weekand/Weekand/Domain/UseCase/Sign/SignUpUseCase.swift
  Weekand/Weekand/Networking/Error/CategoryError.swift
  Weekand/Weekand/Networking/Error/SignUpError.swift
  Weekand/Weekand/Networking/Query/deleteCategory.graphql
  Weekand/Weekand/Presentation/MainScene/Category/Coordinator/CategoryAddCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/Category/Coordinator/CategoryCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/Category/Coordinator/CategoryModifyCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/CategoryListViewController.swift
  Weekand/Weekand/Presentation/MainScene/Category/ViewModel/CategoryAddViewModel.swift
  Weekand/Weekand/Presentation/MainScene/Category/ViewModel/CategoryListViewModel.swift
  Weekand/Weekand/Presentation/MainScene/Category/ViewModel/CategoryModifyViewModel.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/Coordinator/ScheduleEditCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/RepeatSheetViewController.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/RepeatTabViewController.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/ScheduleEditViewController.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/Views/DayRepeatViewController.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/Views/MonthRepeatViewController.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/Views/WeekRepeatViewController.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/Views/YearRepeatViewController.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/ViewModel/ScheduleEditViewModel.swift
  Weekand/Weekand/Presentation/MainScene/Search/View/UserSearchViewController.swift
  Weekand/Weekand/Presentation/MainScene/Search/ViewModel/UserSearchViewModel.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/ViewModel/SignUpViewModel.swift
Labels: :bug: 버그, :lipstick: UI, 🖥 Networking

#95 메인 화면 서버 연결
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand/API.swift
  Weekand/Weekand/Domain/Entities/FollwingUser.swift
  Weekand/Weekand/Domain/Entities/ScheduleMain.swift
  Weekand/Weekand/Domain/Enum/Status.swift
  Weekand/Weekand/Domain/UseCase/Main/MainUseCase.swift
  Weekand/Weekand/Networking/Timestamp.swift
  Weekand/Weekand/Presentation/Common/Coordinator/CoordinatorType.swift
  Weekand/Weekand/Presentation/MainScene/Common/View/WEmojiView.swift
  Weekand/Weekand/Presentation/MainScene/Common/View/WStatusTimeLabel.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/MainViewController.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/SubView/MainView/MainTableViewCell.swift
  Weekand/Weekand/Presentation/MainScene/Main/ViewModel/MainViewModel.swift
  Weekand/Weekand/Presentation/MainScene/Profile/Coordinator/ProfileCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/Profile/View/MyProfileViewController.swift
  Weekand/Weekand/Presentation/MainScene/Profile/View/OtherProfileViewController.swift
  Weekand/Weekand/Presentation/MainScene/Profile/ViewModel/MyProfileViewModel.swift
  Weekand/Weekand/Presentation/Utils/Extensions/DateExtension.swift
Labels: :lipstick: UI, 🖥 Networking

#101 Category Scene UI 개선
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand/Domain/Entities/ScheduleSummary.swift
  Weekand/Weekand/Domain/Enum/ScheduleRepeatType.swift
  Weekand/Weekand/Domain/UseCase/Main/ScheduleEditUseCase.swift
  Weekand/Weekand/Presentation/MainScene/Category/Coordinator/CategoryCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/Category/Coordinator/CategoryModifyCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/CategoryListViewController.swift
Labels: :bug: 버그, :lipstick: UI

#104 Category Scene UI 개선
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand/Domain/Entities/ScheduleSummary.swift
  Weekand/Weekand/Domain/Enum/ScheduleRepeatType.swift
  Weekand/Weekand/Domain/UseCase/Main/ScheduleEditUseCase.swift
  Weekand/Weekand/Presentation/MainScene/Category/Coordinator/CategoryCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/Category/Coordinator/CategoryModifyCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/CategoryListViewController.swift
  Weekand/Weekand/Presentation/MainScene/Category/ViewModel/CategoryDetailViewModel.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/ScheduleEditViewController.swift
Labels: :bug: 버그, :lipstick: UI

#110 Schedule Edit Scene UI 구현 및 네트워크 연결
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand/Domain/Enum/ScheduleRepeatType.swift
  Weekand/Weekand/Domain/ScheduleInputModel.swift
  Weekand/Weekand/Domain/ScheduleWeek.swift
  Weekand/Weekand/Domain/UseCase/Main/ScheduleEditUseCase.swift
  Weekand/Weekand/Networking/Query/CreateSchedule.graphql
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/Coordinator/ScheduleEditCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/CategoryListSheetViewController.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/DefaultRepeatViewController.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/RepeatSheetViewController.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/RepeatTabViewController.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/ScheduleEditViewController.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/Views/CategoryDropDownCell.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/Views/CategoryDropDownCell.xib
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/Views/CategorySheetTableViewCell.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/Views/CategoryStackView.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/Views/DayRepeatViewController.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/Views/MonthRepeatViewController.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/Views/RepeatRadioStackView.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/Views/RepeatStackView.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/Views/RepeatTableViewCell.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/Views/WeekCollectionViewCell.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/Views/WeekRepeatViewController.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/Views/YearRepeatViewController.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/WeekRepeatViewController.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/ViewModel/CategoryListSheetViewModel.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/ViewModel/DefaultRepeatViewModel.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/ViewModel/ScheduleEditViewModel.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/ViewModel/WeekRepeatViewModel.swift
  Weekand/Weekand/Resources/Assets.xcassets/Symbols/User Input/radio.disabled.imageset/Contents.json
  Weekand/Weekand/Resources/Assets.xcassets/Symbols/User Input/radio.disabled.imageset/radio_disabled.png
  Weekand/Weekand/Resources/Assets.xcassets/Symbols/User Input/radio.disabled.imageset/radio_disabled2x.png
  Weekand/Weekand/Resources/Assets.xcassets/Symbols/User Input/radio.disabled.imageset/radio_disabled3x.png
  Weekand/Weekand/Resources/Assets.xcassets/Symbols/User Input/radio.disabled.imageset/radio_disabled@2x.png
  Weekand/Weekand/Resources/Assets.xcassets/Symbols/User Input/radio.disabled.imageset/radio_disabled@3x.png
  Weekand/Weekand/Resources/Assets.xcassets/Symbols/User Input/radio.enabled.imageset/Contents.json
  Weekand/Weekand/Resources/Assets.xcassets/Symbols/User Input/radio.enabled.imageset/radio_enabled.png
  Weekand/Weekand/Resources/Assets.xcassets/Symbols/User Input/radio.enabled.imageset/radio_enabled2x.png
  Weekand/Weekand/Resources/Assets.xcassets/Symbols/User Input/radio.enabled.imageset/radio_enabled3x.png
  Weekand/Weekand/Resources/Assets.xcassets/Symbols/User Input/radio.enabled.imageset/radio_enabled@2x.png
  Weekand/Weekand/Resources/Assets.xcassets/Symbols/User Input/radio.enabled.imageset/radio_enabled@3x.png
Labels: :lipstick: UI, 🖥 Networking

#113 Token을 이용한 로그인 유지 및 자동 로그인 기능 구현
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand/Data/UserDataStorage.swift
  Weekand/Weekand/Domain/Entities/UserSummary.swift
  Weekand/Weekand/Domain/KeyChain/KeyChainAccount.swift
  Weekand/Weekand/Domain/KeyChain/KeyChainError.swift
  Weekand/Weekand/Domain/KeyChain/KeyChainManager.swift
  Weekand/Weekand/Domain/ToeknManager.swift
  Weekand/Weekand/Domain/UseCase/Sign/SignInUseCase.swift
  Weekand/Weekand/Networking/Error/NetworkError.swift
  Weekand/Weekand/Networking/Network.swift
  Weekand/Weekand/Networking/NetworkInterceptorProvider.swift
  Weekand/Weekand/Networking/Query/Reissue.graphql
  Weekand/Weekand/Networking/Query/SearchUsers.graphql
  Weekand/Weekand/Networking/Query/UserSummary.graphql
  Weekand/Weekand/Networking/RefreshTokenInterceptor.swift
  Weekand/Weekand/Networking/TokenAddingInterceptor.swift
  Weekand/Weekand/Presentation/Common/Coordinator/AppCoordinator.swift
  Weekand/Weekand/Presentation/Common/View/WCheckBox.swift
  Weekand/Weekand/Presentation/MainScene/Search/ViewModel/UserSearchViewModel.swift
  Weekand/Weekand/Presentation/SignScene/SignIn/View/SignInViewController.swift
  Weekand/Weekand/Presentation/SignScene/SignIn/ViewModel/SignInViewModel.swift
Labels: 🖥 Networking

#106 프로필 화면 구현
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand/API.swift
  Weekand/Weekand/Domain/ProfileSetting.swift
  Weekand/Weekand/Domain/ProfileUseCase.swift
  Weekand/Weekand/Domain/UserDetail.swift
  Weekand/Weekand/Domain/UserUpdate.swift
  Weekand/Weekand/Networking/Query/MyUserDetail.graphql
  Weekand/Weekand/Presentation/MainScene/Main/Coordinator/MainCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/Main/ViewModel/MainViewModel.swift
  Weekand/Weekand/Presentation/MainScene/Profile/Coordinator/ProfileCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/Profile/View/ContactViewController.swift
  Weekand/Weekand/Presentation/MainScene/Profile/View/MyProfileViewController.swift
  Weekand/Weekand/Presentation/MainScene/Profile/View/OtherProfileViewController.swift
  Weekand/Weekand/Presentation/MainScene/Profile/View/ProfileEditViewController.swift
  Weekand/Weekand/Presentation/MainScene/Profile/View/ProfileViewController.swift
  Weekand/Weekand/Presentation/MainScene/Profile/View/SelectionSheetViewController.swift
  Weekand/Weekand/Presentation/MainScene/Profile/View/SubView/ProfileDetail/ProfileDetailBlockView.swift
  Weekand/Weekand/Presentation/MainScene/Profile/View/SubView/ProfileDetail/ProfileDetailCollectionCell.swift
  Weekand/Weekand/Presentation/MainScene/Profile/View/SubView/ProfileDetail/ProfileDetailCollectionStackView.swift
  Weekand/Weekand/Presentation/MainScene/Profile/View/SubView/ProfileDetail/ProfileDetailHelperView.swift
  Weekand/Weekand/Presentation/MainScene/Profile/View/SubView/ProfileDetail/ProfileDetailInteractoinBlockView.swift
  Weekand/Weekand/Presentation/MainScene/Profile/View/SubView/ProfileDetail/ProfileDetailJobInterestView.swift
  Weekand/Weekand/Presentation/MainScene/Profile/View/SubView/ProfileDetail/ProfileDetailView.swift
  Weekand/Weekand/Presentation/MainScene/Profile/View/SubView/ProfileEditFieldView.swift
  Weekand/Weekand/Presentation/MainScene/Profile/ViewModel/ContactViewModel.swift
  Weekand/Weekand/Presentation/MainScene/Profile/ViewModel/MyProfileViewModel.swift
  Weekand/Weekand/Presentation/MainScene/Profile/ViewModel/ProfileEditViewModel.swift
  Weekand/Weekand/Presentation/MainScene/Profile/ViewModel/ProfileViewModel.swift
  Weekand/Weekand/Presentation/MainScene/Profile/ViewModel/SelectionSheetViewModel.swift
  Weekand/Weekand/Resources/Assets.xcassets/Symbols/Arrows/chevron.right.imageset/chevron_right.png
  Weekand/Weekand/Resources/Assets.xcassets/Symbols/Arrows/chevron.right.imageset/chevron_right@2x.png
  Weekand/Weekand/Resources/Assets.xcassets/Symbols/Arrows/chevron.right.imageset/chevron_right@3x.png
Labels: :lipstick: UI, 🖥 Networking

#116 프로필 화면 추가 수정, 문의하기 UI 구현, 비밀번호 변경 구현
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand/Presentation/Common/ViewController/BaseViewController.swift
  Weekand/Weekand/Presentation/MainScene/Main/ViewModel/MainViewModel.swift
  Weekand/Weekand/Presentation/MainScene/Profile/Coordinator/ProfileCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/Profile/View/ContactCompleteViewController.swift
  Weekand/Weekand/Presentation/MainScene/Profile/View/ContactViewController.swift
  Weekand/Weekand/Presentation/MainScene/Profile/View/PasswordChangeViewController.swift
  Weekand/Weekand/Presentation/MainScene/Profile/View/ProfileEditViewController.swift
  Weekand/Weekand/Presentation/MainScene/Profile/View/ProfileViewController.swift
  Weekand/Weekand/Presentation/MainScene/Profile/View/SelectionSheetViewController.swift
  Weekand/Weekand/Presentation/MainScene/Profile/View/SubView/ProfileEdit/ProfileEditFieldView.swift
  Weekand/Weekand/Presentation/MainScene/Profile/View/SubView/ProfileEdit/ProfileEditSelectionView.swift
  Weekand/Weekand/Presentation/MainScene/Profile/ViewModel/ContactViewModel.swift
  Weekand/Weekand/Presentation/MainScene/Profile/ViewModel/PasswordChangeViewModel.swift
  Weekand/Weekand/Presentation/MainScene/Profile/ViewModel/ProfileEditViewModel.swift
  Weekand/Weekand/Presentation/MainScene/Profile/ViewModel/ProfileViewModel.swift
  Weekand/Weekand/Presentation/MainScene/Profile/ViewModel/SelectionSheetViewModel.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/View/SignUpAddInfomationViewController.swift
  Weekand/Weekand/Resources/Assets.xcassets/ContactBanner.imageset/ContactIcon.png
  Weekand/Weekand/Resources/Assets.xcassets/ContactBanner.imageset/ContactIcon@2x.png
  Weekand/Weekand/Resources/Assets.xcassets/ContactBanner.imageset/ContactIcon@3x.png
  Weekand/Weekand/Resources/Assets.xcassets/ContactBanner.imageset/Contents.json
Labels: :bug: 버그, :lipstick: UI, :sparkles: 기능

#125 메인화면 구현
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand/API.swift
  Weekand/Weekand/Domain/ProfileUseCase.swift
  Weekand/Weekand/Domain/StickerSummary.swift
  Weekand/Weekand/Domain/UseCase/Main/MainUseCase.swift
  Weekand/Weekand/Domain/UserDetail.swift
  Weekand/Weekand/Networking/Query/MyUserDetail.graphql
  Weekand/Weekand/Networking/Query/StickerSummary.graphql
  Weekand/Weekand/Networking/Query/UserDetail.graphql
  Weekand/Weekand/Networking/Query/UserSummary.graphql
  Weekand/Weekand/Networking/Query/scheduleList.graphql
  Weekand/Weekand/Presentation/MainScene/Main/Coordinator/MainCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/MainViewController.swift
  Weekand/Weekand/Presentation/MainScene/Main/ViewModel/MainViewModel.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/Coordinator/ProfileCoordinator.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/View/ContactCompleteViewController.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/View/ContactViewController.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/View/PasswordChangeViewController.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/View/ProfileEditViewController.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/View/ProfileViewController.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/View/SelectionSheetViewController.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/View/SubView/ProfileDetail/ProfileDetailBlockView.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/View/SubView/ProfileDetail/ProfileDetailCollectionCell.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/View/SubView/ProfileDetail/ProfileDetailCollectionStackView.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/View/SubView/ProfileDetail/ProfileDetailHelperView.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/View/SubView/ProfileDetail/ProfileDetailInteractoinBlockView.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/View/SubView/ProfileDetail/ProfileDetailJobInterestView.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/View/SubView/ProfileDetail/ProfileDetailView.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/View/SubView/ProfileEdit/ProfileEditFieldView.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/View/SubView/ProfileEdit/ProfileEditSelectionView.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/ViewModel/ContactViewModel.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/ViewModel/PasswordChangeViewModel.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/ViewModel/ProfileEditViewModel.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/ViewModel/ProfileViewModel.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/ViewModel/SelectionSheetViewModel.swift
Labels: :sparkles: 기능, 🖥 Networking

#132 메인화면 팔로잉목록에 팔로워 목록이 뜨는 문제 수정
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand/API.swift
  Weekand/Weekand/Domain/Entities/FollwingUser.swift
  Weekand/Weekand/Domain/UseCase/Main/MainUseCase.swift
  Weekand/Weekand/Networking/Query/Followees.graphql
  Weekand/Weekand/Presentation/MainScene/Main/ViewModel/MainViewModel.swift
Labels: :bug: 버그

#133 ProfileScene 네트워크 연결, 메인화면 어색한 UI 수정
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand/API.swift
  Weekand/Weekand/Domain/ProfileUseCase.swift
  Weekand/Weekand/Networking/Query/CreateFollowee.graphql
  Weekand/Weekand/Networking/Query/DeleteFollowee.graphql
  Weekand/Weekand/Presentation/Common/View/WDefaultButton.swift
  Weekand/Weekand/Presentation/MainScene/Main/Coordinator/MainCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/MainViewController.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/View/ProfileViewController.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/ViewModel/ProfileViewModel.swift
Labels: 🖥 Networking

#137 로그아웃 및 회원탈퇴, 일정 상세보기 UI 구현
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand/Domain/Entities/Category.swift
  Weekand/Weekand/Domain/ProfileUseCase.swift
  Weekand/Weekand/Domain/ScheduleDetail.swift
  Weekand/Weekand/Domain/ScheduleDetailUseCase.swift
  Weekand/Weekand/Domain/TokenManager.swift
  Weekand/Weekand/Networking/Query/DeleteUser.graphql
  Weekand/Weekand/Networking/Query/Logout.graphql
  Weekand/Weekand/Networking/Query/Schedule.graphql
  Weekand/Weekand/Networking/RefreshTokenInterceptor.swift
  Weekand/Weekand/Networking/TokenAddingInterceptor.swift
  Weekand/Weekand/Presentation/Common/Coordinator/AppCoordinator.swift
  Weekand/Weekand/Presentation/Common/Coordinator/CoordinatorType.swift
  Weekand/Weekand/Presentation/Common/ViewController/PopupViewController.swift
  Weekand/Weekand/Presentation/MainScene/Category/Coordinator/CategoryCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/CategoryDetailViewController.swift
  Weekand/Weekand/Presentation/MainScene/Category/ViewModel/CategoryDetailViewModel.swift
  Weekand/Weekand/Presentation/MainScene/Main/Coordinator/MainCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleDetail/Coordinator/ScheduleDetailCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleDetail/View/ScheduleDetailViewController.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleDetail/View/Views/ScheduleCategoryStackView.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleDetail/View/Views/ScheduleInformationStackView.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleDetail/ViewModel/ScheduleDetailViewModel.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/Coordinator/ProfileCoordinator.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/Coordinator/ResignWarningPopupCoordinator.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/View/ResignWarningPopupViewController.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/ViewModel/ProfileViewModel.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/ViewModel/WarningPopupViewModel.swift
  Weekand/Weekand/Presentation/SignScene/SignIn/ViewModel/SignInViewModel.swift
  Weekand/Weekand/Presentation/Utils/APIModelExtensions/ScheduleStatus+extension.swift
Labels: :lipstick: UI, :sparkles: 기능, 🖥 Networking

#138 스티커 현황 Sheet, 스티커 추가 Sheet 구현
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand/API.swift
  Weekand/Weekand/Domain/UseCase/Main/MainUseCase.swift
  Weekand/Weekand/Networking/Query/CreateSticker.graphql
  Weekand/Weekand/Presentation/MainScene/Main/Coordinator/MainCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/MainViewController.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/Sheet/EmojiSheet/EmojiSheetViewController.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/Sheet/EmojiSheet/EmojiTabViewController.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/Sheet/EmojiSheet/EmojiTableViewController.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/Sheet/StickerAddSheet.swift
  Weekand/Weekand/Presentation/MainScene/Main/ViewModel/Sheet/EmojiTableViewModel.swift
  Weekand/Weekand/Presentation/MainScene/Main/ViewModel/Sheet/StickerAddSheetViewModel.swift
Labels: 🖥 Networking

#139 알람화면, 프로필 수정, 비밀번호 변경
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand/API.swift
  Weekand/Weekand/Domain/Alarm.swift
  Weekand/Weekand/Domain/Entities/FollwingUser.swift
  Weekand/Weekand/Domain/ProfileUseCase.swift
  Weekand/Weekand/Domain/UseCase/Main/MainUseCase.swift
  Weekand/Weekand/Networking/Query/Followees.graphql
  Weekand/Weekand/Networking/Query/Followers.graphql
  Weekand/Weekand/Networking/Query/Notification.graphql
  Weekand/Weekand/Networking/Query/SendContact.graphql
  Weekand/Weekand/Networking/Query/UpdatePassword.graphql
  Weekand/Weekand/Presentation/MainScene/Main/Coordinator/MainCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/Main/ViewModel/AlarmViewModel.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/Coordinator/ProfileCoordinator.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/View/ContactCompleteViewController.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/View/ContactViewController.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/View/PasswordChangeViewController.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/ViewModel/ContactViewModel.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/ViewModel/PasswordChangeViewModel.swift
Labels: :lipstick: UI, 🖥 Networking

#140 프로필 수정 구현
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand/API.swift
  Weekand/Weekand/Domain/ImageExtensionType.swift
  Weekand/Weekand/Domain/ProfileUseCase.swift
  Weekand/Weekand/Domain/UserUpdate.swift
  Weekand/Weekand/Networking/ImageUploader.swift
  Weekand/Weekand/Networking/Query/CreateImageUrl.graphql
  Weekand/Weekand/Networking/Query/UpdateUserDetail.graphql
  Weekand/Weekand/Presentation/MainScene/Main/View/MainViewController.swift
  Weekand/Weekand/Presentation/MainScene/Main/ViewModel/MainViewModel.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/View/ProfileEditViewController.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/View/ProfileViewController.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/ViewModel/ProfileEditViewModel.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/ViewModel/ProfileViewModel.swift
  Weekand/Weekand/Resources/Info.plist
Labels: 🖥 Networking

#145 feat: 유저 검색에서 프로필 화면 연결
  Weekand/Weekand/Presentation/MainScene/Search/Coordinator/UserSearchCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/Search/View/UserSearchViewController.swift
  Weekand/Weekand/Presentation/MainScene/Search/ViewModel/UserSearchViewModel.swift
Labels: :sparkles: 기능

#146 MainViewModel 내 일정 삭제 및 수정 적용
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand/Domain/UseCase/Main/MainUseCase.swift
  Weekand/Weekand/Networking/Apollo/Interceptor/RefreshTokenInterceptor.swift
  Weekand/Weekand/Networking/Apollo/Interceptor/RequestLoggingInterceptor.swift
  Weekand/Weekand/Networking/Apollo/Interceptor/TokenAddingInterceptor.swift
  Weekand/Weekand/Networking/Apollo/Interceptor/‌ResponseLoggingInterceptor.swift
  Weekand/Weekand/Networking/Query/SkipSchedule.graphql
  Weekand/Weekand/Networking/Timestamp.swift
  Weekand/Weekand/Presentation/Common/View/WCalendarView.swift
  Weekand/Weekand/Presentation/MainScene/Category/Coordinator/CategoryCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/CategoryDetailViewController.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/CategoryListViewController.swift
  Weekand/Weekand/Presentation/MainScene/Main/Coordinator/MainCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/MainViewController.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/SubView/MainView/MainCalendarView.swift
  Weekand/Weekand/Presentation/MainScene/Main/ViewModel/MainViewModel.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleDetail/Coordinator/ScheduleDetailCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/Coordinator/ScheduleModifyCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/ScheduleEditViewController.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/WeekRepeatViewController.swift
Labels: :lipstick: UI, 🖥 Networking

#148 메인화면 자동 새로고침 개선
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand/API.swift
  Weekand/Weekand/Domain/UseCase/Main/MainUseCase.swift
  Weekand/Weekand/Presentation/MainScene/Main/ViewModel/MainViewModel.swift
  Weekand/Weekand/schema.json
Labels: :bug: 버그, 🖥 Networking

#149 카테고리 공개 상태 오류 개선 및
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand/Domain/Enum/CategoryOpenType.swift
  Weekand/Weekand/Presentation/Common/Coordinator/AlertPopupCoordinator.swift
  Weekand/Weekand/Presentation/Common/Coordinator/CoordinatorType.swift
  Weekand/Weekand/Presentation/MainScene/Category/Coordinator/CategoryModifyCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/CategoryEditViewController.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/ColorSheetViewController.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/SubView/OpenTypeCollectionViewCell.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/SubView/OpenTypeStackView.swift
  Weekand/Weekand/Presentation/MainScene/Category/ViewModel/CategoryAddViewModel.swift
  Weekand/Weekand/Presentation/MainScene/Category/ViewModel/CategoryModifyViewModel.swift
  Weekand/Weekand/Presentation/MainScene/Main/Coordinator/MainCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/Coordinator/ScheduleAddCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/Coordinator/ScheduleModifyCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/ScheduleEditViewController.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/Views/CategoryStackView.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/Views/DateStackView.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/View/Views/TimeStackView.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/ViewModel/DefaultRepeatViewModel.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/ViewModel/ScheduleAddViewModel.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/ViewModel/ScheduleModifyViewModel.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/ViewModel/WeekRepeatViewModel.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/Coordinator/ProfileCoordinator.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/ViewModel/ProfileViewModel.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/View/SignUpAddInfomationViewController.swift
Labels: :bug: 버그, :lipstick: UI

#152 메인 일정 관련 개선사항 적용
  Weekand/Weekand/Domain/Enum/Status.swift
  Weekand/Weekand/Presentation/Common/Coordinator/CoordinatorType.swift
  Weekand/Weekand/Presentation/MainScene/Main/Coordinator/MainCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleEdit/Coordinator/ScheduleAddCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/Search/View/SubView/UserTableViewCell.swift
Labels: :bug: 버그, :lipstick: UI

#153 팔로우/팔로잉 버튼 수정, 메인화면 cellTapped 함수 수정
  Weekand/Weekand/Domain/ProfileUseCase.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/MainViewController.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/SubView/MainView/MainTableViewCell.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/ViewModel/ProfileViewModel.swift
Labels: :bug: 버그, :recycle: 리팩토링

#154 남의 일정 swipe 차단, 팔로워 삭제 기능 구현
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand/API.swift
  Weekand/Weekand/Domain/ProfileUseCase.swift
  Weekand/Weekand/Networking/Query/DeleteFollower.graphql
  Weekand/Weekand/Presentation/MainScene/Main/View/MainViewController.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/View/FollowViewController.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/ViewModel/FollowViewModel.swift
Labels: 🖥 Networking

#157 feat: 프로필 사진 업로드 구현
  Weekand/Weekand/Networking/ImageUploader.swift
  Weekand/Weekand/Presentation/ProfileScene/Profile/ViewModel/ProfileEditViewModel.swift
Labels: 🖥 Networking

#158 Splash Screen 추가
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand/API.swift
  Weekand/Weekand/Base/Base.lproj/LaunchScreen.storyboard
  Weekand/Weekand/Presentation/ProfileScene/Profile/ViewModel/ProfileEditViewModel.swift
  Weekand/Weekand/Resources/Assets.xcassets/SplashImage.imageset/Contents.json
  Weekand/Weekand/Resources/Assets.xcassets/SplashImage.imageset/iPhone 8.png
  Weekand/Weekand/Resources/Assets.xcassets/SplashImage.imageset/iPhone 8@2x.png
  Weekand/Weekand/Resources/Assets.xcassets/SplashImage.imageset/iPhone 8@3x.png
  Weekand/Weekand/schema.json
Labels: :lipstick: UI

#155 일정이 undetermined인 경우 완료, 미완료 가능하도록 개선
  Weekand/Weekand/Presentation/MainScene/Main/Coordinator/MainCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/MainViewController.swift
  Weekand/Weekand/Presentation/MainScene/Main/ViewModel/MainViewModel.swift
  Weekand/Weekand/Presentation/MainScene/ScheduleDetail/View/ScheduleDetailViewController.swift
Labels: :bug: 버그
