Repository YAPP-Github/20th-ALL-Rounder-Team-1-iOS, pull requests merged in 2022-06, with the labels that each got.

#29 회원가입 & 로그인 부분 UI 상호작용 구현
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand/Application/SceneDelegate.swift
  Weekand/Weekand/Presentation/Common/Coordinator/AppCoordinator.swift
  Weekand/Weekand/Presentation/Common/Coordinator/Coordinator.swift
  Weekand/Weekand/Presentation/Common/Coordinator/CoordinatorType.swift
  Weekand/Weekand/Presentation/Common/View/WBottmButton.swift
  Weekand/Weekand/Presentation/Common/ViewController/BaseNavigationController.swift
  Weekand/Weekand/Presentation/Common/ViewModel/ViewModelType.swift
  Weekand/Weekand/Presentation/SignScene/SignIn/Coordinator/SignInCoordinator.swift
  Weekand/Weekand/Presentation/SignScene/SignIn/View/SignInViewController.swift
  Weekand/Weekand/Presentation/SignScene/SignIn/ViewModel/SignInViewModel.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/Coordinator/SignUpCoordinator.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/View/SignUpAddInfomationViewController.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/View/SignUpTermsViewController.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/View/SignUpViewController.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/ViewModel/SignUpAddInformationViewModel.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/ViewModel/SignUpTermsViewModel.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/ViewModel/SignUpViewModel.swift
  Weekand/Weekand/Presentation/SignScene/Welcome/Coordinator/WelcomeCoordinator.swift
  Weekand/Weekand/Presentation/SignScene/Welcome/View/WelcomeViewController.swift
  Weekand/Weekand/Presentation/SignScene/Welcome/ViewModel/WelcomeViewModel.swift
Labels: UI, Sign, Coordinator

#35 회원가입, 로그인 scene view 리팩토링
  Weekand/Podfile.lock
  Weekand/Weekand.xcodeproj/xcuserdata/ihoyeong.xcuserdatad/xcschemes/xcschememanagement.plist
  Weekand/Weekand/Presentation/Common/View/WBottmButton.swift
  Weekand/Weekand/Presentation/Common/View/WButtonTextField.swift
  Weekand/Weekand/Presentation/Common/View/WCheckBox.swift
  Weekand/Weekand/Presentation/Common/View/WDefaultButton.swift
  Weekand/Weekand/Presentation/Common/View/WTextButton.swift
  Weekand/Weekand/Presentation/Common/View/WTextField.swift
  Weekand/Weekand/Presentation/Common/View/WTextLabel.swift
  Weekand/Weekand/Presentation/Common/View/WTitleLabel.swift
  Weekand/Weekand/Presentation/Common/ViewController/BaseNavigationController.swift
  Weekand/Weekand/Presentation/SignScene/SignIn/View/SignInViewController.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/View/SignUpAddInfomationViewController.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/View/SignUpTermsViewController.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/View/SignUpViewController.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/View/Views/InformationGroupStackView.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/View/Views/InputGroupStackView.swift
  Weekand/Weekand/Presentation/SignScene/Welcome/View/WelcomeViewController.swift
  Weekand/Weekand/Presentation/Utils/DesignSystem/ColorSet.swift
Labels: UI, Sign, Common view

#37 회원 가입내 이메일, 닉네임 입력 로직 개선
  Weekand/Weekand/Presentation/Common/View/WCheckBox.swift
  Weekand/Weekand/Presentation/Common/View/WDefaultButton.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/View/SignUpAddInfomationViewController.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/View/SignUpTermsViewController.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/View/SignUpViewController.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/View/Views/InformationGroupStackView.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/View/Views/InputGroupStackView.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/ViewModel/SignUpViewModel.swift
  Weekand/Weekand/Presentation/Utils/DesignSystem/ColorSet.swift
Labels: Sign, Refactor

#45 카테고리 화면 구현 및 회원가입 로직 개선
  Weekand/Podfile
  Weekand/Podfile.lock
  Weekand/Supporting Files/Preview.swift
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand.xcodeproj/xcuserdata/ihoyeong.xcuserdatad/xcschemes/xcschememanagement.plist
  Weekand/Weekand/Domain/Category.swift
  Weekand/Weekand/Presentation/Common/View/WButtonTextField.swift
  Weekand/Weekand/Presentation/Common/View/WCheckBox.swift
  Weekand/Weekand/Presentation/Common/View/WDefaultButton.swift
  Weekand/Weekand/Presentation/Common/View/WFilterButton.swift
  Weekand/Weekand/Presentation/Common/View/WTextFieldStackView.swift
  Weekand/Weekand/Presentation/Common/ViewController/BaseViewController.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/CategoryDetailViewController.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/CategoryEditViewController.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/CategoryListViewController.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/Views/CategoryDetailFooterView.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/Views/CategoryDetailHeaderView.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/Views/CategoryDetailTableViewCell.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/Views/CategoryListHeaderView.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/Views/CategoryListTableViewCell.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/Views/ColorStackView.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/Views/OpenTypeStackView.swift
  Weekand/Weekand/Presentation/MainScene/Common/View/WStatusTimeLabel.swift
  Weekand/Weekand/Presentation/SignScene/SignIn/View/SignInViewController.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/Coordinator/SignUpCoordinator.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/View/SignUpAddInfomationViewController.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/View/SignUpViewController.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/View/Views/InformationCollectionViewCell.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/View/Views/InformationGroupStackView.swift
  Weekand/Weekand/Presentation/SignScene/SignUp/ViewModel/SignUpViewModel.swift
  Weekand/Weekand/Presentation/SignScene/Welcome/Coordinator/WelcomeCoordinator.swift
  Weekand/Weekand/Presentation/SignScene/Welcome/View/WelcomeViewController.swift
  Weekand/Weekand/Presentation/Utils/DesignSystem/ColorSet.swift
  Weekand/Weekand/Presentation/Utils/DesignSystem/Font.swift
  Weekand/Weekand/Presentation/Utils/UIVIewController+extension.swift
  Weekand/Weekand/Resources/Assets.xcassets/Buttons/CheckBox.imageset/CheckBox.png
  Weekand/Weekand/Resources/Assets.xcassets/Buttons/CheckBox.imageset/CheckBox2x.png
  Weekand/Weekand/Resources/Assets.xcassets/Buttons/CheckBox.imageset/CheckBox3x.png
  Weekand/Weekand/Resources/Assets.xcassets/Buttons/CheckBox.imageset/Contents.json
  Weekand/Weekand/Resources/Assets.xcassets/Buttons/Contents.json
  Weekand/Weekand/Resources/Assets.xcassets/Buttons/DownArrow.imageset/Contents.json
  Weekand/Weekand/Resources/Assets.xcassets/Buttons/DownArrow.imageset/DownArrow.png
  Weekand/Weekand/Resources/Assets.xcassets/Buttons/DownArrow.imageset/DownArrow2x.png
  Weekand/Weekand/Resources/Assets.xcassets/Buttons/DownArrow.imageset/DownArrow3x.png
  Weekand/Weekand/Resources/Assets.xcassets/Buttons/addCategory.imageset/Contents.json
  Weekand/Weekand/Resources/Assets.xcassets/Buttons/addCategory.imageset/addCategory1x.png
  Weekand/Weekand/Resources/Assets.xcassets/Buttons/addCategory.imageset/addCategory2x.png
  Weekand/Weekand/Resources/Assets.xcassets/Buttons/addCategory.imageset/addCategory3x-1.png
  Weekand/Weekand/Resources/Assets.xcassets/Buttons/endDate.imageset/Contents.json
  Weekand/Weekand/Resources/Assets.xcassets/Buttons/endDate.imageset/endDate.png
  Weekand/Weekand/Resources/Assets.xcassets/Buttons/endDate.imageset/endDate2x.png
  Weekand/Weekand/Resources/Assets.xcassets/Buttons/endDate.imageset/endDate3x.png
  Weekand/Weekand/Resources/Assets.xcassets/Buttons/startDate.imageset/Contents.json
  Weekand/Weekand/Resources/Assets.xcassets/Buttons/startDate.imageset/startDate.png
  Weekand/Weekand/Resources/Assets.xcassets/Buttons/startDate.imageset/startDate2x.png
  Weekand/Weekand/Resources/Assets.xcassets/Buttons/startDate.imageset/startDate3x.png
  Weekand/Weekand/Resources/Assets.xcassets/Buttons/updateCategory.imageset/Contents.json
  Weekand/Weekand/Resources/Assets.xcassets/Buttons/updateCategory.imageset/updateCategory.png
  Weekand/Weekand/Resources/Assets.xcassets/Buttons/updateCategory.imageset/updateCategory2x.png
  Weekand/Weekand/Resources/Assets.xcassets/Buttons/updateCategory.imageset/updateCategory3x.png
Labels: bug, UI, Sign, Common view, Category

#46 conflict 대응에 대한 수정사항 반영
  Weekand/Podfile.lock
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand.xcodeproj/xcuserdata/ihoyeong.xcuserdatad/xcschemes/xcschememanagement.plist
  Weekand/Weekand/Application/SceneDelegate.swift
  Weekand/Weekand/Domain/Category.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/CategoryDetailViewController.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/MainCalendarView.swift
Labels: Refactor

#52 MainView와 CategoryView 버튼으로 연결, TestFlight 배포 준비
  Weekand/Weekand.xcodeproj/project.pbxproj
  Weekand/Weekand/Application/SceneDelegate.swift
  Weekand/Weekand/Presentation/Common/Coordinator/CoordinatorType.swift
  Weekand/Weekand/Presentation/MainScene/Category/Coordinator/CategoryCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/CategoryDetailViewController.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/CategoryListViewController.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/SubView/CategoryDetailFooterView.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/SubView/CategoryDetailHeaderView.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/SubView/CategoryDetailTableViewCell.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/SubView/CategoryListHeaderView.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/SubView/CategoryListTableViewCell.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/SubView/ColorStackView.swift
  Weekand/Weekand/Presentation/MainScene/Category/View/SubView/OpenTypeStackView.swift
  Weekand/Weekand/Presentation/MainScene/Category/ViewModel/CategoryListViewModel.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/MainViewController.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/SubView/MainCalendarView.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/SubView/MainTableViewCell.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/SubView/MainTableViewHeader.swift
  Weekand/Weekand/Presentation/MainScene/Main/ViewModel/MainViewModel.swift
Labels: Coordinator

#53 Navigation Hidden 처리 수정
  Weekand/Weekand/Presentation/MainScene/Category/Coordinator/CategoryCoordinator.swift
  Weekand/Weekand/Presentation/MainScene/Main/View/MainViewController.swift
Labels: Coordinator
